/* react-split */
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #060606;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

/* scrollbar */
/* width */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  margin-block: 2px;
  border-radius: 8px;
  background: #8f8f8f;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #5f5f5f;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}
